# Inspecteer Excel-bestanden in raw_batch_geoloket
Deze notebook toont de eerste 5 regels van elke tabblad in elk bestand in de map `raw_batch_geoloket`.

In [1]:
import os
from pathlib import Path
from openpyxl import load_workbook

# Use correct relative path from the notebooks folder
folder = Path('../input_files/raw_batch_geoloket').resolve()
if not folder.exists():
    raise FileNotFoundError(f"Map niet gevonden: {folder}")

files = [f for f in os.listdir(folder) if f.endswith('.xlsx')]
for fname in files:
    print(f'Bestand: {fname}')
    wb = load_workbook(folder / fname, data_only=True, read_only=True)
    for sheet in wb.sheetnames:
        print(f'  Tabblad: {sheet}')
        ws = wb[sheet]
        for i, row in enumerate(ws.iter_rows(values_only=True), 1):
            print(row)
            if i >= 5:
                break
        print()

Bestand: 83034-1.xlsx
  Tabblad: 83034-1 HB001PB01
('83034-1 HB001PB01', 'ELLI_D_14511368_airtemp', 'ELLI_D_14511368', None)
('Timestamp', 'Lucht Temperatuur (ºC)', 'Waterdrukhoogte (cm H₂O)', 'Water Temperatuur (ºC)')
(datetime.datetime(2025, 6, 24, 22, 0), 20.32, 159.82, 12.67)
(datetime.datetime(2025, 6, 24, 23, 0), 19.83, 161.11, 12.67)
(datetime.datetime(2025, 6, 25, 0, 0), 19.35, 159.56, 12.67)

  Tabblad: 83034-1 HB005PB01
('83034-1 HB005PB01', 'ELLI_D_22021509_airtemp', 'ELLI_D_22021509', None)
('Timestamp', 'Lucht Temperatuur (ºC)', 'Waterdrukhoogte (cm H₂O)', 'Water Temperatuur (ºC)')
(datetime.datetime(2025, 6, 6, 5, 0), 15.59, 190.69, 11.27)
(datetime.datetime(2025, 6, 6, 6, 0), 15.44, 190.79, 11.23)
(datetime.datetime(2025, 6, 6, 7, 0), 15.33, 190.9, 11.27)

  Tabblad: 83034-1 HB007PB01
('83034-1 HB007PB01', 'ELLI_D_22021526_airtemp', 'ELLI_D_22021526', None)
('Timestamp', 'Lucht Temperatuur (ºC)', 'Waterdrukhoogte (cm H₂O)', 'Water Temperatuur (ºC)')
(datetime.datetime(2025, 6, 5, 21, 0), 17.54, 138.13, 12.56)
(datetime.datetime(2025, 6, 5, 22, 0), 15.37, 138.43, 12.6)
(datetime.datetime(2025, 6, 5, 23, 0), 14.42, 138.65, 12.56)

  Tabblad: 83034-1 HB010PB01
('83034-1 HB010PB01', 'ELLI_D_23021573_airtemp', 'ELLI_D_23021573', None)
('Timestamp', 'Lucht Temperatuur (ºC)', 'Waterdrukhoogte (cm H₂O)', 'Water Temperatuur (ºC)')
(datetime.datetime(2025, 6, 5, 12, 0), 19.98, -3.2, 13.47)
(datetime.datetime(2025, 6, 5, 13, 0), 18.39, -3.16, 13.47)
(datetime.datetime(2025, 6, 5, 14, 0), 14.87, -3.13, 13.47)

  Tabblad: 83034-1 HB011PB01
('83034-1 HB011PB01', 'ELLI_D_18053001_airtemp', 'ELLI_D_18053001', None)
('Timestamp', 'Lucht Temperatuur (ºC)', 'Waterdrukhoogte (cm H₂O)', 'Water Temperatuur (ºC)')
(datetime.datetime(2025, 6, 6, 5, 0), 13.55, -9.32, 13.05)
(datetime.datetime(2025, 6, 6, 6, 0), 13.18, -9.28, 13.05)
(datetime.datetime(2025, 6, 6, 7, 0), 13.3, -9.32, 13.05)

  Tabblad: 83034-1 HB012PB01
('83034-1 HB012PB01', 'ELLI_D_22030111_airtemp', 'ELLI_D_22030111', None)
('Timestamp', 'Lucht Temperatuur (ºC)', 'Waterdrukhoogte (cm H₂O)', 'Water Temperatuur (ºC)')
(datetime.datetime(2025, 6, 5, 18, 0), 20.62, -0.42, 20.49)
(datetime.datetime(2025, 6, 5, 19, 0), 20.49, -0.42, 20.42)
(datetime.datetime(2025, 6, 5, 20, 0), 20.49, -0.41, 20.45)

  Tabblad: 83034-1 HB013PB01
('83034-1 HB013PB01', 'ELLI_D_16092001_airtemp', 'ELLI_D_16092001', None)
('Timestamp', 'Lucht Temperatuur (ºC)', 'Waterdrukhoogte (cm H₂O)', 'Water Temperatuur (ºC)')
(datetime.datetime(2025, 6, 6, 4, 0), 16.7, 168.62, 11.52)
(datetime.datetime(2025, 6, 6, 5, 0), 16.58, 168.95, 11.52)
(datetime.datetime(2025, 6, 6, 6, 0), 16.44, 169.55, 11.52)

  Tabblad: 83034-1 HB015PB01
('83034-1 HB015PB01', 'MSLV8_o85182', None, None)
('Timestamp', 'Waterniveau (m NAP)', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)')
(datetime.datetime(2025, 4, 22, 10, 0), 5.484, 138100, 9.5)
(datetime.datetime(2025, 4, 22, 11, 0), 5.49, 138160, 9)
(datetime.datetime(2025, 5, 14, 10, 0), 3.244, 116350, 10)

  Tabblad: 83034-1 HB016PB01
('83034-1 HB016PB01', 'ELLI_D_22021535_airtemp', 'ELLI_D_22021535', None)
('Timestamp', 'Lucht Temperatuur (ºC)', 'Waterdrukhoogte (cm H₂O)', 'Water Temperatuur (ºC)')
(datetime.datetime(2025, 6, 6, 0, 0), 20.56, -1000.5, 20.82)
(datetime.datetime(2025, 6, 6, 1, 0), 20.56, -1000.49, 20.89)
(datetime.datetime(2025, 6, 6, 2, 0), 20.59, -1000.49, 20.89)

  Tabblad: 83034-1 MB004PB02
('83034-1 MB004PB02', 'ELLI_D_18013132_airtemp', 'ELLI_D_18013132', None)
('Timestamp', 'Lucht Temperatuur (ºC)', 'Waterdrukhoogte (cm H₂O)', 'Water Temperatuur (ºC)')
(datetime.datetime(2025, 6, 6, 9, 0), 16.1, 355.7, 10.82)
(datetime.datetime(2025, 6, 6, 10, 0), 18.39, 355.76, 10.82)
(datetime.datetime(2025, 6, 6, 11, 0), 19.13, 355.76, 10.82)

  Tabblad: 83034-1 MB014PB01
('83034-1 MB014PB01', 'ELLI_D_22021554_airtemp', 'ELLI_D_22021554', None)
('Timestamp', 'Lucht Temperatuur (ºC)', 'Waterdrukhoogte (cm H₂O)', 'Water Temperatuur (ºC)')
(datetime.datetime(2025, 6, 5, 14, 0), 19.54, 283.59, 13.96)
(datetime.datetime(2025, 6, 5, 15, 0), 19.28, 283.67, 13.92)
(datetime.datetime(2025, 6, 5, 16, 0), 20.08, 283.7, 13.96)

  Tabblad: 83034-1 MB014PB02
('83034-1 MB014PB02', 'ELLI_D_23052307_airtemp', 'ELLI_D_23052307', None)
('Timestamp', 'Lucht Temperatuur (ºC)', 'Waterdrukhoogte (cm H₂O)', 'Water Temperatuur (ºC)')
(datetime.datetime(2025, 6, 5, 16, 0), 19.5, 128.34, 13.34)
(datetime.datetime(2025, 6, 5, 17, 0), 20.45, 128.53, 13.34)
(datetime.datetime(2025, 6, 5, 18, 0), 20.56, 128.32, 13.34)

Bestand: 86349-1.xlsx
  Tabblad: 86349-1 HB002PB01
('86349-1 HB002PB01', 'MSLV8_o54218', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 14, 12, 0), 101152, None, -3.051)
(datetime.datetime(2024, 8, 14, 13, 0), 101202, 23.5, -3.049)
(datetime.datetime(2024, 8, 14, 14, 0), 101292, None, -3.047)

  Tabblad: 86349-1 HB007PB01
('86349-1 HB007PB01', 'MSLV8_o54182', None, None)
('Timestamp', 'Waterniveau (m NAP)', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)')
(datetime.datetime(2025, 3, 6, 12, 0), -3.456, 116624, None)
(datetime.datetime(2025, 3, 6, 13, 0), -3.462, 116554, 10.5)
(datetime.datetime(2025, 3, 6, 14, 0), -3.457, 116534, None)

  Tabblad: 86349-1 HB009PB01
('86349-1 HB009PB01', 'MSLV8_o54155', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 14, 11, 0), 101272, 24.5, -2.89)
(datetime.datetime(2024, 8, 14, 12, 0), 101292, 20.5, -2.886)
(datetime.datetime(2024, 8, 14, 13, 0), 101282, None, -2.89)

  Tabblad: 86349-1 HB010PB01
('86349-1 HB010PB01', 'MSLV8_o54149', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 14, 11, 0), 104733, 14.5, -1.966)
(datetime.datetime(2024, 8, 14, 12, 0), 104793, None, -1.958)
(datetime.datetime(2024, 8, 14, 13, 0), 104853, None, -1.955)

  Tabblad: 86349-1 HB011PB01
('86349-1 HB011PB01', 'MSLV8_o54200', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 26, 14, 0), 119415, 16, -1.198)
(datetime.datetime(2024, 8, 26, 15, 0), 119535, 13.5, -1.186)
(datetime.datetime(2024, 8, 26, 16, 0), 119545, None, -1.184)

  Tabblad: 86349-1 HB013PB01
('86349-1 HB013PB01', 'MSLV8_o54316', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 10, 31, 14, 0), 135820, None, -3.6)
(datetime.datetime(2024, 10, 31, 15, 0), 135890, None, -3.587)
(datetime.datetime(2024, 10, 31, 16, 0), 135670, None, -3.607)

  Tabblad: 86349-1 HB014PB01
('86349-1 HB014PB01', 'MSLV8_o54152', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 10, 31, 13, 0), 129926, None, -4.105)
(datetime.datetime(2024, 10, 31, 14, 0), 129936, None, -4.099)
(datetime.datetime(2024, 10, 31, 15, 0), 129876, None, -4.1)

  Tabblad: 86349-1 HB015PB01
('86349-1 HB015PB01', 'MSLV8_o54178', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 14, 8, 0), 101172, 23, -2.891)
(datetime.datetime(2024, 8, 14, 9, 0), 101202, 21, -2.886)
(datetime.datetime(2024, 8, 14, 10, 0), 101162, None, -2.895)

  Tabblad: 86349-1 HB017PB01
('86349-1 HB017PB01', 'MSLV8_o54167', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 14, 8, 0), 129226, None, -3.504)
(datetime.datetime(2024, 8, 14, 9, 0), 129116, 12.5, -3.512)
(datetime.datetime(2024, 8, 14, 10, 0), 128746, None, -3.554)

  Tabblad: 86349-1 HB018PB01
('86349-1 HB018PB01', 'MSLV8_o54141', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 14, 9, 0), 121375, 14.5, -4.292)
(datetime.datetime(2024, 8, 14, 10, 0), 121135, None, -4.321)
(datetime.datetime(2024, 8, 14, 11, 0), 121245, None, -4.315)

  Tabblad: 86349-1 HB019PB01
('86349-1 HB019PB01', 'MSLV8_o54161', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 8, 0), 112464, 13.5, -1.995)
(datetime.datetime(2024, 8, 15, 9, 0), 112454, 13.5, -1.998)
(datetime.datetime(2024, 8, 15, 10, 0), 112494, None, -1.994)

  Tabblad: 86349-1 HB021PB01
('86349-1 HB021PB01', 'MSLV5_kc5539', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 8, 0), 135597, 14.5, -3.709)
(datetime.datetime(2024, 8, 15, 9, 0), 134907, 14, -3.782)
(datetime.datetime(2024, 8, 15, 10, 0), 134667, None, -3.806)

  Tabblad: 86349-1 HB022PB01
('86349-1 HB022PB01', 'MSLV8_o54165', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 8, 0), 128996, 13.5, -4.293)
(datetime.datetime(2024, 8, 15, 9, 0), 128746, 13.5, -4.32)
(datetime.datetime(2024, 8, 15, 10, 0), 128676, None, -4.327)

  Tabblad: 86349-1 HB023PB01
('86349-1 HB023PB01', 'MSLV8_o54290', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 10, 31, 15, 0), 120630, None, -0.549)
(datetime.datetime(2024, 10, 31, 16, 0), 120640, None, -0.545)
(datetime.datetime(2024, 10, 31, 17, 0), 120600, None, -0.547)

  Tabblad: 86349-1 HB025PB01
('86349-1 HB025PB01', 'MSLV8_o54153', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 9, 0), 125516, 12, -3.63)
(datetime.datetime(2024, 8, 15, 10, 0), 125106, None, -3.671)
(datetime.datetime(2024, 8, 15, 11, 0), 124855, None, -3.695)

  Tabblad: 86349-1 HB026PB01
('86349-1 HB026PB01', 'MSLV8_o54217', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 9, 0), 119535, 14.5, -4.29)
(datetime.datetime(2024, 8, 15, 10, 0), 119405, None, -4.302)
(datetime.datetime(2024, 8, 15, 11, 0), 119345, None, -4.308)

  Tabblad: 86349-1 HB027PB01
('86349-1 HB027PB01', 'MSLV8_o54189', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 10, 0), 101562, 22, -3.12)
(datetime.datetime(2024, 8, 15, 11, 0), 101583, None, -3.117)
(datetime.datetime(2024, 8, 15, 12, 0), 101532, None, -3.118)

  Tabblad: 86349-1 HB029PB01
('86349-1 HB029PB01', 'MSLV8_o54164', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 26, 10, 0), 122205, None, -3.931)
(datetime.datetime(2024, 8, 26, 11, 0), 122275, None, -3.925)
(datetime.datetime(2024, 8, 26, 12, 0), 122305, None, -3.924)

  Tabblad: 86349-1 HB030PB01
('86349-1 HB030PB01', 'MSLV8_o54216', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 10, 0), 126476, 12, -4.412)
(datetime.datetime(2024, 8, 15, 11, 0), 126426, None, -4.416)
(datetime.datetime(2024, 8, 15, 12, 0), 126446, None, -4.41)

  Tabblad: 86349-1 HB031PB01
('86349-1 HB031PB01', 'MSLV8_o54163', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 11, 0), 123365, 15, -0.003)
(datetime.datetime(2024, 8, 15, 12, 0), 123285, None, -0.007)
(datetime.datetime(2024, 8, 15, 13, 0), 123185, None, -0.014)

  Tabblad: 86349-1 HB033PB01
('86349-1 HB033PB01', 'MSLV8_o54160', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 11, 0), 130756, 12, -3.934)
(datetime.datetime(2024, 8, 15, 12, 0), 130546, None, -3.951)
(datetime.datetime(2024, 8, 15, 13, 0), 130366, None, -3.967)

  Tabblad: 86349-1 HB034PB01
('86349-1 HB034PB01', 'MSLV8_o54209', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 12, 0), 124715, 15, -0.461)
(datetime.datetime(2024, 8, 15, 13, 0), 124645, None, -0.465)
(datetime.datetime(2024, 8, 15, 14, 0), 124705, 14, -0.46)

  Tabblad: 86349-1 HB036PB01
('86349-1 HB036PB01', 'MSLV8_o54204', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 12, 0), 135687, 14.5, -3.474)
(datetime.datetime(2024, 8, 15, 13, 0), 135327, None, -3.51)
(datetime.datetime(2024, 8, 15, 14, 0), 135087, 14.5, -3.536)

  Tabblad: 86349-1 HB037PB01
('86349-1 HB037PB01', 'MSLV8_o54206', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 13, 0), 112794, 13.5, -1.203)
(datetime.datetime(2024, 8, 15, 14, 0), 112654, None, -1.22)
(datetime.datetime(2024, 8, 15, 15, 0), 112684, None, -1.216)

  Tabblad: 86349-1 HB039PB01
('86349-1 HB039PB01', 'MSLV5_j63505', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 10, 31, 14, 0), 134070, None, -1.494)
(datetime.datetime(2024, 10, 31, 15, 0), 134060, None, -1.49)
(datetime.datetime(2024, 10, 31, 16, 0), 134050, None, -1.488)

  Tabblad: 86349-1 HB040PB01
('86349-1 HB040PB01', 'MSLV8_o54205', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 13, 0), 132366, 13, -1.908)
(datetime.datetime(2024, 8, 15, 14, 0), 132186, None, -1.93)
(datetime.datetime(2024, 8, 15, 15, 0), 132096, None, -1.938)

  Tabblad: 86349-1 HB041PB01
('86349-1 HB041PB01', 'MSLV8_o54168', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 13, 0), 104523, 27.5, -2.498)
(datetime.datetime(2024, 8, 15, 14, 0), 104883, 13.5, -2.464)
(datetime.datetime(2024, 8, 15, 15, 0), 104973, None, -2.453)

  Tabblad: 86349-1 HB046PB01
('86349-1 HB046PB01', 'MSLV8_o54175', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 14, 17, 0), 129716, 14, -3.925)
(datetime.datetime(2024, 8, 14, 18, 0), 129696, None, -3.929)
(datetime.datetime(2024, 8, 14, 19, 0), 129586, None, -3.94)

  Tabblad: 86349-1 HB048PB01
('86349-1 HB048PB01', 'MSLV8_o54148', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 14, 15, 0), 121590, 12, -0.379)
(datetime.datetime(2024, 8, 14, 16, 0), 121490, None, -0.386)
(datetime.datetime(2024, 8, 14, 17, 0), 121420, None, -0.396)

  Tabblad: 86349-1 HB050PB01
('86349-1 HB050PB01', 'MSLV8_o54224', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 14, 15, 0), 101172, None, -5.855)
(datetime.datetime(2024, 8, 14, 16, 0), 123735, 12, -3.551)
(datetime.datetime(2024, 8, 14, 17, 0), 123465, None, -3.582)

  Tabblad: 86349-1 HB051PB01
('86349-1 HB051PB01', 'MSLV8_o54203', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 14, 15, 0), 101240, None, -4.747)
(datetime.datetime(2024, 8, 14, 16, 0), 111480, 14.5, -3.701)
(datetime.datetime(2024, 8, 14, 17, 0), 111330, None, -3.719)

  Tabblad: 86349-1 MB001PB01
('86349-1 MB001PB01', 'MSLV8_o54154', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 14, 12, 0), 113134, None, -2.148)
(datetime.datetime(2024, 8, 14, 13, 0), 113114, 12.5, -2.153)
(datetime.datetime(2024, 8, 14, 14, 0), 113074, None, -2.165)

  Tabblad: 86349-1 MB001PB02
('86349-1 MB001PB02', 'MSLV8_o54294', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 10, 31, 14, 0), 135770, None, -4.194)
(datetime.datetime(2024, 10, 31, 15, 0), 135750, None, -4.191)
(datetime.datetime(2024, 10, 31, 16, 0), 135700, None, -4.193)

  Tabblad: 86349-1 MB003PB01
('86349-1 MB003PB01', 'MSLV8_o54174', None, None)
('Timestamp', 'Waterniveau (m NAP)', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)')
(datetime.datetime(2024, 10, 25, 13, 0), -4.146, 114944, None)
(datetime.datetime(2024, 10, 25, 14, 0), -4.144, 114934, 15.5)
(datetime.datetime(2024, 10, 25, 15, 0), -4.146, 114894, None)

  Tabblad: 86349-1 MB003PB02
('86349-1 MB003PB02', 'MSLV8_o54166', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 14, 13, 0), 132186, 12, -4.091)
(datetime.datetime(2024, 8, 14, 14, 0), 132296, None, -4.087)
(datetime.datetime(2024, 8, 14, 15, 0), 132416, None, -4.078)

  Tabblad: 86349-1 MB005PB01
('86349-1 MB005PB01', 'MSLV8_o54270', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 26, 13, 0), 102123, 21.5, -3.491)
(datetime.datetime(2024, 8, 26, 14, 0), 124015, 13, -1.258)
(datetime.datetime(2024, 8, 26, 15, 0), 123975, None, -1.264)

  Tabblad: 86349-1 MB005PB02
('86349-1 MB005PB02', 'MSLV8_o54338', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 26, 13, 0), 146250, 12.5, -3.973)
(datetime.datetime(2024, 8, 26, 14, 0), 146420, 12.5, -3.957)
(datetime.datetime(2024, 8, 26, 15, 0), 146420, None, -3.959)

  Tabblad: 86349-1 MB008PB01
('86349-1 MB008PB01', 'MSLV8_o54215', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 14, 11, 0), 101212, 23, -3.507)
(datetime.datetime(2024, 8, 14, 12, 0), 100932, 14.5, -3.534)
(datetime.datetime(2024, 8, 14, 13, 0), 101122, None, -3.517)

  Tabblad: 86349-1 MB008PB02
('86349-1 MB008PB02', 'MSLV8_o54326', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 14, 11, 0), 101250, 22.5, -6.737)
(datetime.datetime(2024, 8, 14, 12, 0), 128220, 12, -3.983)
(datetime.datetime(2024, 8, 14, 13, 0), 128410, None, -3.966)

  Tabblad: 86349-1 MB012PB01
('86349-1 MB012PB01', 'MSLV8_o54186', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 10, 31, 15, 0), 113194, None, -2.72)
(datetime.datetime(2024, 10, 31, 16, 0), 113164, None, -2.72)
(datetime.datetime(2024, 10, 31, 17, 0), 113234, None, -2.71)

  Tabblad: 86349-1 MB016PB01
('86349-1 MB016PB01', 'MSLV8_o54146', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 26, 15, 0), 115154, 13, -1.754)
(datetime.datetime(2024, 8, 26, 16, 0), 114984, None, -1.77)
(datetime.datetime(2024, 8, 26, 17, 0), 114864, None, -1.784)

  Tabblad: 86349-1 MB020PB01
('86349-1 MB020PB01', 'MSLV8_o54144', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 15, 8, 0), 116234, 12, -2.842)
(datetime.datetime(2024, 8, 15, 9, 0), 116104, 12, -2.857)
(datetime.datetime(2024, 8, 15, 10, 0), 115994, None, -2.868)

  Tabblad: 86349-1 MB024PB01
('86349-1 MB024PB01', 'MSLV8_o54156', None, None)
('Timestamp', 'Water Absolute Druk (Pa)', 'Water Temperatuur (ºC)', 'Waterniveau (m NAP)')
(datetime.datetime(2024, 8, 26, 15, 0), 114364, 14.5, -1.324)
(datetime.datetime(2024, 8, 26, 16, 0), 114304, None, -1.329)
(datetime.datetime(2024, 8, 26, 17, 0), 114344, None, -1.327)

  Tabblad: 86349-1 MB028PB01
('86349-1 MB028PB01', 'MSLV8_o54140', None, None)

In [2]:
import pandas as pd
import re
from pathlib import Path

# === CONFIG ===
# Folder with input files
input_folder = Path('../input_files/raw_batch_geoloket').resolve()
output_format = 'csv'  # 'csv' of 'xlsx'
output_dir = Path('../output_files/output_sheets').resolve()
output_dir.mkdir(exist_ok=True)

# === SCRIPT ===
all_summaries = []
files = [f for f in input_folder.iterdir() if f.suffix == '.xlsx']
for input_file in files:
    try:
        xls = pd.ExcelFile(input_file)
    except Exception as e:
        print(f'Fout bij openen van bestand {input_file}: {e}')
        continue

    summary = []
    for sheet in xls.sheet_names:
        # Read first two rows: row 0 for name, row 1 for headers
        try:
            preview = pd.read_excel(xls, sheet_name=sheet, nrows=2, header=None)
        except Exception as e:
            print(f'Fout bij lezen van eerste rijen van sheet {sheet} in {input_file.name}: {e}')
            continue
        if preview.empty or len(preview) < 2:
            print(f'{input_file.name} - Sheet {sheet}: niet genoeg rijen voor naam en headers!')
            continue
        out_name = str(preview.iloc[0,0]).strip()  # Use first cell of first row as output name
        # Now read the actual data, using row 2 (index 1) as header
        try:
            df = pd.read_excel(xls, sheet_name=sheet, header=1)
        except Exception as e:
            print(f'Fout bij lezen van sheet {sheet} in {input_file.name}: {e}')
            continue

        # Zoek kolommen
        ts_col = next((col for col in df.columns if 'Timestamp' in col), None)
        wn_col = next((col for col in df.columns if 'Waterniveau (m NAP)' in col), None)
        if not ts_col or not wn_col:
            print(f'{input_file.name} - Sheet {sheet}: vereiste kolommen niet gevonden!')
            continue

        df_out = df[[ts_col, wn_col]].copy()
        df_out = df_out.rename(columns={wn_col: 'head'})
        df_out[ts_col] = pd.to_datetime(df_out[ts_col], errors='coerce')

        out_path = output_dir / f'{out_name}.{output_format}'
        if output_format == 'csv':
            df_out.to_csv(out_path, index=False)
        elif output_format == 'xlsx':
            df_out.to_excel(out_path, index=False)
        else:
            print(f'Onbekend output-formaat: {output_format}')
            continue

        summary.append((out_name, len(df_out)))

    if summary:
        print(f'Samenvatting voor {input_file.name}:')
        for name, rows in summary:
            print(f'{name}: {rows} rijen opgeslagen.')
        all_summaries.append((input_file.name, summary))
    else:
        print(f'Geen geschikte sheets gevonden of opgeslagen in {input_file.name}.')

83034-1.xlsx - Sheet 83034-1 HB001PB01: vereiste kolommen niet gevonden!
83034-1.xlsx - Sheet 83034-1 HB005PB01: vereiste kolommen niet gevonden!
83034-1.xlsx - Sheet 83034-1 HB007PB01: vereiste kolommen niet gevonden!
83034-1.xlsx - Sheet 83034-1 HB010PB01: vereiste kolommen niet gevonden!
83034-1.xlsx - Sheet 83034-1 HB011PB01: vereiste kolommen niet gevonden!
83034-1.xlsx - Sheet 83034-1 HB012PB01: vereiste kolommen niet gevonden!
83034-1.xlsx - Sheet 83034-1 HB013PB01: vereiste kolommen niet gevonden!
83034-1.xlsx - Sheet 83034-1 HB016PB01: vereiste kolommen niet gevonden!
83034-1.xlsx - Sheet 83034-1 MB004PB02: vereiste kolommen niet gevonden!
83034-1.xlsx - Sheet 83034-1 MB014PB01: vereiste kolommen niet gevonden!
83034-1.xlsx - Sheet 83034-1 MB014PB02: vereiste kolommen niet gevonden!
Samenvatting voor 83034-1.xlsx:
83034-1 HB015PB01: 3 rijen opgeslagen.
Samenvatting voor 86349-1.xlsx:
86349-1 HB002PB01: 7777 rijen opgeslagen.
86349-1 HB007PB01: 2869 rijen opgeslagen.
86349-1 HB009PB01: 7782 rijen opgeslagen.
86349-1 HB010PB01: 7782 rijen opgeslagen.
86349-1 HB011PB01: 7495 rijen opgeslagen.
86349-1 HB013PB01: 5898 rijen opgeslagen.
86349-1 HB014PB01: 5892 rijen opgeslagen.
86349-1 HB015PB01: 7785 rijen opgeslagen.
86349-1 HB017PB01: 7781 rijen opgeslagen.
86349-1 HB018PB01: 7784 rijen opgeslagen.
86349-1 HB019PB01: 7757 rijen opgeslagen.
86349-1 HB021PB01: 7769 rijen opgeslagen.
86349-1 HB022PB01: 7761 rijen opgeslagen.
86349-1 HB023PB01: 5902 rijen opgeslagen.
86349-1 HB025PB01: 7764 rijen opgeslagen.
86349-1 HB026PB01: 7757 rijen opgeslagen.
86349-1 HB027PB01: 7752 rijen opgeslagen.
86349-1 HB029PB01: 7491 rijen opgeslagen.
86349-1 HB030PB01: 7747 rijen opgeslagen.
86349-1 HB031PB01: 7766 rijen opgeslagen.
86349-1 HB033PB01: 7766 rijen opgeslagen.
86349-1 HB034PB01: 7753 rijen opgeslagen.
86349-1 HB036PB01: 7749 rijen opgeslagen.
86349-1 HB037PB01: 7748 rijen opgeslagen.
86349-1 HB039PB01: 5914 rijen opgeslagen.
86349-1 HB040PB01: 7752 rijen opgeslagen.
86349-1 HB041PB01: 7686 rijen opgeslagen.
86349-1 HB046PB01: 7771 rijen opgeslagen.
86349-1 HB048PB01: 7778 rijen opgeslagen.
86349-1 HB050PB01: 7766 rijen opgeslagen.
86349-1 HB051PB01: 7755 rijen opgeslagen.
86349-1 MB001PB01: 7775 rijen opgeslagen.
86349-1 MB001PB02: 5901 rijen opgeslagen.
86349-1 MB003PB01: 6051 rijen opgeslagen.
86349-1 MB003PB02: 7776 rijen opgeslagen.
86349-1 MB005PB01: 7480 rijen opgeslagen.
86349-1 MB005PB02: 7484 rijen opgeslagen.
86349-1 MB008PB01: 7770 rijen opgeslagen.
86349-1 MB008PB02: 7770 rijen opgeslagen.
86349-1 MB012PB01: 5897 rijen opgeslagen.
86349-1 MB016PB01: 7498 rijen opgeslagen.
86349-1 MB020PB01: 7761 rijen opgeslagen.
86349-1 MB024PB01: 7494 rijen opgeslagen.
86349-1 MB028PB01: 7759 rijen opgeslagen.
86349-1 MB032PB01: 7489 rijen opgeslagen.
86349-1 MB035PB01: 7757 rijen opgeslagen.
86349-1 MB038PB01: 7752 rijen opgeslagen.
86349-1 MB042PB01: 7744 rijen opgeslagen.
86349-1 MB043PB01: 7745 rijen opgeslagen.
86349-1 MB045PB01: 7770 rijen opgeslagen.
86349-1 MB047PB01: 7777 rijen opgeslagen.
86349-1 MB049PB01: 7770 rijen opgeslagen.
Samenvatting voor 87074-1.xlsx:
87074-1 HB001PB01: 5617 rijen opgeslagen.
87074-1 HB003PB01: 5609 rijen opgeslagen.
87074-1 HB004PB01: 5622 rijen opgeslagen.
87074-1 HB005PB01: 5628 rijen opgeslagen.
87074-1 HB006PB01: 5613 rijen opgeslagen.
87074-1 HB011PB01: 5075 rijen opgeslagen.
87074-1 HB012PB01: 5079 rijen opgeslagen.
87074-1 HB013PB01: 5080 rijen opgeslagen.
87074-1 HB014PB01: 5640 rijen opgeslagen.
87074-1 HB015PB01: 5604 rijen opgeslagen.
87074-1 HB016PB01: 5615 rijen opgeslagen.
87074-1 HB017PB01: 3722 rijen opgeslagen.
87074-1 HB018PB01: 5634 rijen opgeslagen.
87074-1 HB019PB01: 5605 rijen opgeslagen.
87074-1 HB020PB01: 5634 rijen opgeslagen.
87074-1 HB021PB01: 5634 rijen opgeslagen.
87074-1 HB022PB01: 5618 rijen opgeslagen.
87074-1 HB023PB01: 5615 rijen opgeslagen.
87074-1 HB025PB01: 5590 rijen opgeslagen.
87074-1 HB026PB01: 5206 rijen opgeslagen.
87074-1 HB027PB01: 5092 rijen opgeslagen.
87074-1 HB030PB01: 5113 rijen opgeslagen.
87074-1 HB031PB01: 5110 rijen opgeslagen.
87074-1 HB032PB01: 5096 rijen opgeslagen.
87074-1 HB033PB01: 5098 rijen opgeslagen.
87074-1 HB034PB01: 5091 rijen opgeslagen.
87074-1 HB035PB01: 5210 rijen opgeslagen.
87074-1 HB036PB01: 5115 rijen opgeslagen.
87074-1 HB038PB01: 5596 rijen opgeslagen.
87074-1 HB63258PB01: 5587 rijen opgeslagen.
87074-1 HB63259PB01: 5591 rijen opgeslagen.
87074-1 HB63260PB01: 5605 rijen opgeslagen.
87074-1 HB63261PB01: 5583 rijen opgeslagen.
87074-1 HB63263PB01: 5610 rijen opgeslagen.
87074-1 HB63264PB01: 5604 rijen opgeslagen.
87074-1 MB002PB01: 5614 rijen opgeslagen.
87074-1 MB007PB01: 5223 rijen opgeslagen.
87074-1 MB008PB01: 5224 rijen opgeslagen.
87074-1 MB037PB01: 5587 rijen opgeslagen.
87074-1 MB101PB01: 5608 rijen opgeslagen.
87074-1 MB102PB01: 5610 rijen opgeslagen.
87074-1 MB102PB02: 2861 rijen opgeslagen.
87074-1 MB102PB03: 2862 rijen opgeslagen.
87074-1 MB103PB01: 5590 rijen opgeslagen.
87074-1 MB106PB01: 5610 rijen opgeslagen.
87074-1 MB107PB01: 5630 rijen opgeslagen.
87074-1 MB107PB02: 2866 rijen opgeslagen.
87074-1 MB107PB03: 2866 rijen opgeslagen.
87074-1 MB108PB01: 5607 rijen opgeslagen.
87074-1 MB109PB01: 5211 rijen opgeslagen.
87074-1 MB110PB01: 5120 rijen opgeslagen.
87074-1 MB111PB01: 5123 rijen opgeslagen.
87074-1 MB111PB02: 5125 rijen opgeslagen.
87074-1 MB111PB03: 5089 rijen opgeslagen.
87074-1 MB112PB01: 5577 rijen opgeslagen.
Samenvatting voor 87097-1.xlsx:
87097-1 HB178PB01: 4576 rijen opgeslagen.
87097-1 HB179PB01: 4650 rijen opgeslagen.
87097-1 HB180PB01: 4623 rijen opgeslagen.
87097-1 HB181PB01: 4616 rijen opgeslagen.
87097-1 HB182PB01: 4595 rijen opgeslagen.
87097-1 HB183PB01: 4650 rijen opgeslagen.
87097-1 HB184PB01: 4625 rijen opgeslagen.
87097-1 HB185PB01: 4651 rijen opgeslagen.
87097-1 HB186PB01: 4651 rijen opgeslagen.
87097-1 HB188PB01: 4640 rijen opgeslagen.
87097-1 HB189PB01: 4645 rijen opgeslagen.
87097-1 HB190PB01: 4639 rijen opgeslagen.
87097-1 HB191PB01: 4641 rijen opgeslagen.
Samenvatting voor 88111-1.xlsx:
88111-1 HB001PB01: 1406 rijen opgeslagen.
88111-1 HB005PB01: 1406 rijen opgeslagen.
88111-1 HB006PB01: 1404 rijen opgeslagen.
88111-1 HB007PB01: 1404 rijen opgeslagen.
88111-1 HB008PB01: 1399 rijen opgeslagen.
88111-1 HB009PB01: 1392 rijen opgeslagen.
88111-1 HB010PB01: 1400 rijen opgeslagen.
88111-1 HB013PB01: 1402 rijen opgeslagen.
88111-1 HB014PB01: 1395 rijen opgeslagen.
88111-1 HB015PB01: 1401 rijen opgeslagen.
88111-1 HB016PB01: 1400 rijen opgeslagen.
88111-1 HB018PB01: 1400 rijen opgeslagen.
88111-1 HB020PB01: 1357 rijen opgeslagen.
88111-1 HB022PB01: 1361 rijen opgeslagen.
88111-1 HB024PB01: 1360 rijen opgeslagen.
88111-1 HB026PB01: 1355 rijen opgeslagen.
88111-1 HB027PB01: 1355 rijen opgeslagen.
88111-1 HB029PB01: 1357 rijen opgeslagen.
88111-1 HB030PB01: 1265 rijen opgeslagen.
88111-1 HB030PB02: 1265 rijen opgeslagen.
88111-1 HB031PB01: 1264 rijen opgeslagen.
88111-1 HB033PB01: 1264 rijen opgeslagen.
88111-1 HB035PB01: 1401 rijen opgeslagen.
88111-1 HB037PB01: 1405 rijen opgeslagen.
88111-1 HB038PB01: 1406 rijen opgeslagen.
88111-1 HB048PB01: 1259 rijen opgeslagen.
88111-1 HB049PB01: 1263 rijen opgeslagen.
88111-1 HB050PB01: 1263 rijen opgeslagen.
88111-1 HB052PB01: 1262 rijen opgeslagen.
88111-1 HB053PB01: 1262 rijen opgeslagen.
88111-1 HB054PB01: 1261 rijen opgeslagen.
88111-1 HB057PB01: 1403 rijen opgeslagen.
88111-1 HB059PB01: 1403 rijen opgeslagen.
88111-1 HB060-APB01: 1405 rijen opgeslagen.
88111-1 HB060-APB02: 1401 rijen opgeslagen.
88111-1 MB002PB01: 1407 rijen opgeslagen.
88111-1 MB012PB01: 1403 rijen opgeslagen.
88111-1 MB012PB02: 1402 rijen opgeslagen.
88111-1 MB017PB01: 1400 rijen opgeslagen.
88111-1 MB021PB01: 1361 rijen opgeslagen.
88111-1 MB025PB01: 1356 rijen opgeslagen.
88111-1 MB028PB01: 1357 rijen opgeslagen.
88111-1 MB028PB02: 1358 rijen opgeslagen.
88111-1 MB028PB03: 1358 rijen opgeslagen.
88111-1 MB032PB01: 1264 rijen opgeslagen.
88111-1 MB036PB01: 1405 rijen opgeslagen.
88111-1 MB056PB01: 1404 rijen opgeslagen.
88111-1 MB056PB02: 1409 rijen opgeslagen.